.gaugetemp{
    padding: 10px;
    color: #ffffff;
    /* background-color: #edea00; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    font-size: 10px;
    text-align: center;
    width: 200px;
    height: 40px;
  }
  