.gaugefuel{
  padding: 10px;
  color: #f7f7f7;
  /* background-color: #494949; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: bold;
  font-size: 10px;
  text-align: center;
  height: 220px;
}
